.container {
    width: 50%;
    margin-top: 3%;
}

.list-group-item {
    box-shadow: 0 2px 4px rgba(76, 90, 75, 0.2);
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #4C5A4B;
  }

  .d-block {
    color: #fff important!;
  }
  
.form-check-input {
    width: 1.2em !important;
    height: 1.2em !important;
    border-width: 3px;
}

.form-check-input:checked {
    background-color: #84A98C;
    border-color: #84A98C;
}
  