.container {
    padding-top: 3%;
}

.py-5 {
    padding-top: 0%!important;
    padding-bottom: 0%!important;
}

.lead2 {
    color: #4C5A4B;
    font-weight: 500;
    font-size: 1.25rem;
}

.btn {
    background-color: #84A98C;
    font-weight: 500;
    padding: 3%;
    margin-bottom: 5%;
}

.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.glcreate {
    background-color: #84A98C;
    font-weight: 500;
    padding: 1%;
    margin-top: 3%;
    border-style: none;
    border-radius: 0.5rem;
}