<div class="px-4 py-5 my-5">
  <h2 class="display-5 fw-bold text-body-emphasis mb-3">Select Your Favorite Recipes</h2>
  <p class="lead2 mb-4">Your grocery list soon awaits!</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let recipe of recipes">
      <div class="card h-100">
        <img src="{{recipe.imgUrl}}" class="card-img-top" alt="{{recipe.title}}">
        <div class="card-body">
          <h5 class="card-title">{{recipe.title}}</h5>
          <p class="card-text">{{recipe.description}}</p>
          <button class="btn">View More</button>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [id]="'checkbox' + recipe.id">
            <label class="form-check-label" for="'checkbox' + recipe.id">Select</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>