<div class="outer">
<div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../assets/images/healthyfood.jpg" class="d-block mx-lg-auto img-fluid" alt="Healthy Food" width="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h2 class="display-5 mb-3">Easily Plan Your Meals & Grocery Lists</h2>
        <p class="lead">Our Grocery List Generator takes the guess work out of your meal planning experience.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-lg px-4 me-md-2 shadow-primary rounded">Get Started!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="recipeintro">
<div class="px-4 py-5 my-5">
    <h2 class="display-5 fw-bold text-body-emphasis mb-3 text-center">Choose From Any of Our Delicious Recipes</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead2 mb-4 text-center">Our selction of recipes has been craftfully currated by our love for flavorful, fun to make recipes!</p>
    </div>
   <!-- Recipes Cards -->
<div class="row row-cols-1 row-cols-md-3 g-4" *ngFor="let recipe of recipes">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recipe 2</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div> 
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-lg px-4 me-md-2">See All Recipes</button>
    </div>
  </div>
</div>  



<!-- Recipes Cards -->
<!-- <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor="let recipe of recipes">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        <p class="card-text">{{recipe.description}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recipe 2</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div> -->
